<div class="ui-g">
    <p-messages [(value)]="msgs"></p-messages>
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Solicitudes por Petición</h1>
            <p-table editMode="row" dataKey="id" [value]="loadRadicado2" [paginator]="true" [rows]="10"
                [loading]="loading" [responsive]="true" sortField="identificacion" #dt>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>
                            Identificación
                        </th>
                        <th>
                            Nombre del cliente
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Tipo
                        </th>
                        <th>
                            Justificación
                        </th>
                        <th>
                            Link
                        </th>
                        <th>
                            Acciones
                        </th>
                        <th>
                            Reporte
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input pInputText type="text"
                                (input)="dt.filter($event.target.value, 'usuario.identificacion', 'contains')">
                        </th>
                        <th>
                            <input pInputText type="text"
                                (input)="dt.filter($event.target.value, 'usuario.nombre', 'contains')">
                        </th>
                        <th>
                            <input pInputText type="text"
                                (input)="dt.filter($event.target.value, 'estado_radicado.estado', 'contains')">
                        </th>
                        <th>

                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-loadRadicado let-editing="editing" let-ri="rowIndex">
                    <!--Arreglar aca-->
                    <tr [pEditableRow]="loadRadicado">
                        <td style="text-align: center;">{{loadRadicado?.usuario?.identificacion}} </td>
                        <td style="text-align: center;">{{loadRadicado?.usuario?.nombre}} </td>
                        <td style="text-align: center;">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="loadEstados" [style]="{'width':'100%'}"
                                        [(ngModel)]="loadRadicado.estado_radicado" optionLabel="estado"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{loadRadicado?.estado_radicado?.estado}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="text-align: center;">{{loadRadicado?.tipo?.nombre}} </td>
                        <td style="text-align: center;">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="loadRadicado.justificacion">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{loadRadicado?.justificacion}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="text-align: center;">{{loadRadicado?.comentarios}}</td>
                        <td style="text-align:center">
                            <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                                class="ui-button-info" (click)="onRowEditInit(loadRadicado)"></button>
                            <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                                class="ui-button-success" style="margin-right: .5em"
                                (click)="onRowEditSave(loadRadicado)"></button>
                            <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                                class="ui-button-danger" (click)="onRowEditCancel(loadRadicado, ri)"></button>
                        </td>
                        <td style="text-align: center;">
                            <form *ngIf="loadRadicado" ngNoForm method="post" [action]="loadRadicado$?.pdfUrl"
                                target="_blank">
                                <input type="hidden" name="id" [(ngModel)]="loadRadicado.id">
                                <button pButton type="submit" icon="fa fa-file-pdf-o"
                                    [disabled]='loadRadicado?.estado_radicado?.id != 3' *ngIf="!editing"
                                    class="ui-button-danger"></button>
                            </form>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>