<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Solicitudes por Petición</h1>
            <p-table [value]="loadRadicado" [paginator]="true" [rows]="10" selectionMode="single" [loading]="loading"
                [responsive]="true" sortField="identificacion" #dt>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>
                            Identificación
                        </th>
                        <th>
                            Nombre del cliente
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Tipo
                        </th>
                        <th>
                            Justificación
                        </th>
                        <th>
                            Link
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input pInputText type="text"
                                (input)="dt.filter($event.target.value, 'usuario.identificacion', 'contains')">
                        </th>
                        <th>
                                <input pInputText type="text"
                                (input)="dt.filter($event.target.value, 'usuario.nombre', 'contains')">
                        </th>
                        <th>
                                <input pInputText type="text"
                                (input)="dt.filter($event.target.value, 'estado_radicado.estado', 'contains')"> 
                        </th>
                        <th>
                           
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-loadRadicado>
                    <tr [pSelectableRow]="loadRadicado">
                        <td style="text-align: center;">{{loadRadicado?.usuario?.identificacion}} </td>
                        <td style="text-align: center;">{{loadRadicado?.usuario?.nombre}} </td>
                        <td style="text-align: center;">{{loadRadicado?.estado_radicado?.estado}}</td>
                        <td style="text-align: center;">{{loadRadicado?.tipo?.nombre}} </td>
                        <td style="text-align: center;">{{loadRadicado?.justificacion}}</td>
                        <td style="text-align: center;">{{loadRadicado?.comentarios}}</td>

                        <td style="text-align: center;">
                            <form *ngIf="loadRadicado" ngNoForm method="post" [action]="loadRadicado$?.pdfUrl"
                                target="_blank">
                                <input type="hidden" name="id" [(ngModel)]="loadRadicado.id">
                                <button pButton type="submit" icon="fa fa-file-pdf-o"
                                    [disabled]='loadRadicado?.estado_radicado?.id != 3'
                                    class="ui-button-danger"></button>
                            </form>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>