<app-lista-radicado #listaRadicado [loadRadicado]='loadRadicado' [loadRadicado2]='loadRadicado2' [loading]='loading'
    [loadEstados]='loadEstados' (onEditEstado)='onEditEstado($event)'>
</app-lista-radicado>

<app-lista-radicado-dos #listaRadicadoReclamo [loadRadicadoReclamo]='loadRadicadoReclamo'
    [loadRadicadoReclamo2]='loadRadicadoReclamo2' [loading]='loading' [loadEstados]='loadEstados'
    (onEditEstado)='onEditEstado($event)'>
</app-lista-radicado-dos>

<app-lista-radicado-tres #listaRadicadoQueja [loadRadicadoQueja]='loadRadicadoQueja'
    [loadRadicadoQueja2]='loadRadicadoQueja2' [loading]='loading' [loadEstados]='loadEstados'
    (onEditEstado)='onEditEstado($event)'>
</app-lista-radicado-tres>

<app-lista-radicado-cuatro #listaRadicadoSugerencia [loadRadicadoSugerencia]='loadRadicadoSugerencia'
    [loadRadicadoSugerencia2]='loadRadicadoSugerencia2' [loading]='loading' [loadEstados]='loadEstados'
    (onEditEstado)='onEditEstado($event)'>
</app-lista-radicado-cuatro>
 
