body{
    background-image: url('../../../../assets/images/images.jpg');
    background-size: cover;
  background-position: center;
  position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

}
